* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

/* HEADER ========================= */

header {
  background: #000;
}

.menu {
  max-width: 800px;
  margin: 0 auto;
  padding: 8px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.menu-nav{
  display: flex;
  flex-wrap: wrap;
}

.menu-nav li a {
  color: #fff;
  font-size: 20px;
  padding: 10px 10px;
  display: block;
}

.menu-nav li a:hover {
  background-color: #fff;
  color: #000;
  border-radius: 3px;
}

/* CONTEUDO */
.conteudo {
  max-width: 800px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.conteudo p {
  color: rgb(49, 49, 49);
  font-size: 40px;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  margin-bottom: 35px;
}

/* PROJETOS */

.projeto {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.projeto > div {
  flex: 1 1 200px;
  margin: 10px;
}

.text {
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: bold;
  padding-bottom: 3px;
}

/* CONTATOS ======================== */

.contatos-container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 161px;
}
.contatos {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.contatos li a {
  color: #fff;
  background-color: #000;
  padding: 15px;
  border-radius: 3px;
  cursor: pointer;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  height: 35px;
}

footer p {
  color: #fff;
}